@font-face {
    font-family: futura;
    src: url("./fonts/FUTURA.ttf");
}

#cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* permet de center le default cursor au millieu du custom */
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    pointer-events: none;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 20, 0.5);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 1);
}

.map {
    background-image: url('./img/map.jpg');
    background-size: cover;
    width: 120vw;
    height: 120vh;
}

.cursor-hover {
    animation: spin 10s infinite;
    transition: all 0.3s ease-in-out;
}

.cursor-hover.hide {
    opacity: 0;
    animation: none;
}


.earth {
    width: 200px;
    height: 200px;
    background-image: url('./img/earth.png');
    background-color: rgb(62, 62, 62);
    background-size: cover;
    border: 2px solid #000;
    border-radius: 50%;
    animation: move 200s linear 0s infinite;
    box-shadow: 0 0 25px RGBA(255, 255, 255, 0.10),
        -8px -8px 15px #000 inset,
        2px 2px 25px #000 inset,
        -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
        25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
    transform: rotateX(6deg) rotateY(6deg) rotateZ(0deg);
}

.fade-out {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: black;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

.icon {
    width: 75px;
    height: 75px
}

.outer-orbit,
.middle-orbit,
.inner-orbit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 215px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 50%;
    animation: spin 200s infinite;
}

.middle-orbit {
    width: 260px;
    height: 260px;
    border: 2px dotted rgb(129, 129, 129);
}


.outer-orbit {
    width: 280px;
    height: 280px;
    border: 2px dashed rgb(129, 129, 129);
}

.planet {
    width: fit-content;
    height: fit-content;
}

.pop-up {
    background-color: rgba(1, 5, 8, 0.7);
    transition: opacity 0.2s ease-in-out;
    position: absolute;
}

.pop-up.hide {
    opacity: 0;
}

.space {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(#29393b, #010508);
    cursor: none;
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 315px 0
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}